h3{
  color: red;
}
th{
  width:  20%;
}
#moveBathons1{
  position:relative
}
#moveBathons2{
  position: absolute;
  left : 30%;
  width: 40%;
}
#bathonBack, #bathonForward{
  margin: auto;
}
#selected{
  background-color: chartreuse;
}
#selectedBed{
  background-color:brown;
}
#selectedNon{
  background-color: white;
}
#nosing{
  background-color: white;
  color: white;
}
#retreat{
  padding-right:10px;
  padding-left:10px;
}